body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 3%;
}

button {
    background-color: grey !important;
    border-color: grey !important;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    gap: 10px;

    background: linear-gradient(45deg,
        lightgrey 75%,
        grey 25%);
    border-radius: 6px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}