<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Lab07-css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Lab 7 - Paula Sofía Soto Ayala</title>
</head>

<body>
    <div class="header"><span>Laboratorio 7</span></div>
    <div class="container">
        <div class="labs" id="app">

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">1. Generar Tabla</h5>
                    <p class="card-text">Genera tabla de cuadrados y cubos de un número.</p>
                    <button v-on:click="generarTabla()" type="button"
                        class="my-btn btn btn-outline-success">Generar</button>
                    <button v-on:click="borrarTabla()" type="button"
                        class="my-btn btn btn-outline-danger">Borrar</button>
                </div>
                <div class="centrar" v-show="mostrarTabla">
                    <table class="table">
                        <th>Número</th>
                        <th>Cuadrado</th>
                        <th>Cubo</th>
                        <tr v-for="item in secuencia">
                            <td>{{item.num}}</td>
                            <td>{{item.square}}</td>
                            <td>{{item.cube}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1548690596-f1722c190938?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWF0aHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2. Suma Prompt</h5>
                    <p class="card-text">Introducir la suma de dos números.</p>
                    <button onclick="suma()" type="button" class="my-btn btn btn-outline-success">Suma</button>
                </div>
            </div>

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1594729095022-e2f6d2eece9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3. Contador</h5>
                    <p class="card-text">Genera la cantidad de ceros, valores positivos y negativos de un arreglo
                        aleatorio.</p>
                    <button onclick="contador(randomArray())" type="button"
                        class="my-btn btn btn-outline-success">Contador
                        Random</button>
                </div>
            </div>

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1hdGhlbWF0aWNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">4. Promedios</h5>
                    <p class="card-text">Genera los promedios de los renglones de una matriz generada de manera
                        aleatoria.</p>
                    <button v-on:click="promediosMatriz()" type="button"
                        class="my-btn btn btn-outline-success">Generar</button>
                    <button v-on:click="borrarPromedios()" type="button"
                        class="my-btn btn btn-outline-danger">Borrar</button>
                </div>
                <div class="centrar" v-show="mostrarPromedios">
                    <table class="tabla">
                        <th>Valores</th>
                        <th>Promedio</th>
                        <tr v-for="promedio in promedios">
                            <td>{{promedio.calificaciones}}</td>
                            <td>{{promedio.promedio}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1599481489702-b97be54c2235?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGludmVydGVkfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">5. Invertir Número</h5>
                    <p class="card-text">Invierte un número.</p>
                    <button onclick="inverso()" type="button" class="my-btn btn btn-outline-success">Invertir
                        Número</button>
                </div>
            </div>

            <div class="lab card">
                <img src="https://images.unsplash.com/photo-1616951211764-11228cc7082b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fHR3byUyMG51bWJlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">6. Two Sum</h5>
                    <p class="card-text">Encuentra si en un arreglo generado de manera aleatoria, se encuentra dos
                        números que sumen al target.</p>
                    <button onclick="twoSum()" class="my-btn btn btn-outline-success">Two Sum</button>
                </div>
            </div>
        </div>

        <h2 style="padding: 30px;">Preguntas</h2>
        <div class="questions">
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample1">
                    ¿Qué diferencias y semejanzas hay entre Java y JavaScript?
                </a>
            </div>
            
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <ul>
                        <li>
                            Semejanzas: las primeras cuatro letras. ambos soportan programacion orientada a objetos
                            y tienen sintaxis basada en C.
                        </li>
                        <li>
                            Diferencias: JS es un lenguaje de scripting con tipos dinámicos y Java es un lenguaje
                            estrictamente tipado y estático.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample2">
                    ¿Qué métodos tiene el objeto Date? (Menciona al menos 5*)
                </a>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <ul>
                        <li>now()</li>
                        <li>parse()</li>
                        <li>getYear()</li>
                        <li>setTime()</li>
                        <li>UTC()</li>
                    </ul>
                </div>
            </div>
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample3">
                    ¿Qué métodos tienen los arreglos? (Menciona al menos 5*)
                </a>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    <ul>
                        <li>join()</li>
                        <li>splice()</li>
                        <li>push()</li>
                        <li>indexOf()</li>
                        <li>replace()</li>
                    </ul>
                </div>
            </div>
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4">
                    ¿Cómo se declara una variable con alcance local dentro de una función?
                </a>
            </div>
            
            <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                    <ul>
                        <li>Funcionan por bloques "{}"</li>
                        <li>let variable1 = 5;</li>
                        <li>const variable1 = 10;</li>
                    </ul>
                </div>
            </div>
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample5">
                    ¿Qué implicaciones tiene utilizar variables globales dentro de funciones?
                </a>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample5">
                <div class="card card-body">
                    <ul>
                        <li>var se utliza como variable global.</li>
                        <li>Puede crear discrepancias en el código ya que no funciona por bloques.</li>
                    </ul>
                </div>
            </div>
            <div class="card card-body">
                <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample6">
                    ¿Qué método de String se puede utilizar para buscar patrones con expresiones regulares?
                </a>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample6">
                <div class="card card-body">
                    <ul>
                        <li>match()</li>
                        <li>matchAll()</li>
                        <li>replace()</li>
                        <li>search()</li>
                        <li>split()</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
        
    <script src="Lab07-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>