<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="Lab06-css.css">
    <title>Laboratorio 6 - Tienda</title>
</head>

<body>
    <div class="nav-bar">Laboratorio 6 - Tienda</div>
    <div class="app-container" id="app">
        <div class="product">
            <div class="product-info">
                <h1 class="title">{{ product }}</h1>

                <div class="product-image">
                    <img v-bind:src="image" />
                </div>

                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
            </div>
            <div class="cart-menu">
                <div style="display: flex; justify-content: space-evenly;" v-for="(variant,index) in variants"
                    @mouseover="updateProduct(index)">
                    <div class="color-box" :style="{ backgroundColor: variant.variantColor }">
                        {{ variant.quantity }}
                    </div>
                
                    <button @click="addToCart(variant)" :disabled="!inStock" :class="{ disabledButton: !inStock }">
                        Add to cart
                    </button>
                
                    <button @click="removeFromCart(variant)" :class="{ disabledButton: !cart[variant.variantColor] }">
                        Remove from cart
                    </button>
                </div>
                
                <div class="container">
                    <div class="cart">
                        <p>Purple: ({{ cart.Purple }})</p>
                        <p>Yellow: ({{ cart.Yellow }})</p>
                        <p>Red: ({{ cart.Red }})</p>
                    </div>
                    <div class="cart">
                        <p>Total: ${{ cart.total.toFixed(2) }}</p>
                        <p>Subtotal: ${{ cart.subtotal.toFixed(2) }}</p>
                        <p>IVA: ${{ cart.iva.toFixed(2) }}</p>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <div class="nav-bar footer">Sofia Soto</div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="Lab06-js.js"></script>
</body>

</html>